header {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  z-index: 10;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
}

header > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
}

header a {
  color: var(--primary-blue);
}

.inactive {
  transform: scaleX(0);
  transform-origin: right;
}

.active {
  transform: scale(auto);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.hamburguer > .fa-bars {
  font-size: 20px;
  color: var(--primary-blue);
}

.menu-list {
  position: absolute;
  width: 70%;
  right: 0;
  top: 68px;
  border-radius: 0 0 0 5px;
  overflow: hidden;
  padding: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.menu-list a,
.menu-list li {
  width: 100%;
  color: var(--primary-blue);
}

.menu-list a {
  display: block;
  text-align: end;
}

.menu-list li:hover {
  cursor: pointer;
  background-color: var(--secondary-grey);
}
.hamburguer:hover {
  cursor: pointer;
}

.menu-list a {
  padding: 14px 24px;
}




@media (min-width: 900px) {
  .hamburguer {
    display: none;
  }

  .menu-list{
    transform: none;
    position: relative;
    top: auto;
    width: auto;
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    border: none;
    box-shadow:none;
  }

  .menu-list a,.menu-list li{
    color: var(--primary-blue);
    width: auto;
  }


}