

header {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  z-index: 10;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
}

header > div {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header a {
  color: var(--primary-blue);
}

header .logo{
  height: 26px;
  display: block;
}

.inactive {
  transform: scaleY(0);
  transform-origin: top;
}

.active {
  transform: scale(auto);
  transform-origin: top;
  transition: transform 0.3s ease;
}

.hamburguer > .fa-bars {
  font-size: 20px;
  color: var(--primary-blue);
}

.menu-list {
  position: absolute;
  width: 100%;
  right: 0;
  top: 52px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


.menu-list li {
  width: 100%;
  height: 100%;
  padding: 15px;
  color: var(--primary-blue);
}

.menu-list a {
  display: block;
  text-align: end;
}

.menu-list li:hover {
  cursor: pointer;
  background-color: var(--secondary-grey);
}

.hamburguer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburguer:hover {
  cursor: pointer;
}

.loggin-indicator{
  display: inline-block;
  margin-right: 10px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: rgb(18, 140, 18);
}



@media (min-width: 900px) {
  .hamburguer {
    display: none;
  }

  .menu-list{
    transform: none;
    position: relative;
    top: auto;
    width: auto;
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    border: none;
    box-shadow:none;
  }

  .menu-list a,.menu-list li{
    color: var(--primary-blue);
    width: auto;
  }


}