.panel-controls{
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;    
}

.addExpenseForm {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addExpenseForm input, .addExpenseForm select{
    padding: 6px 8px;
}

.addExpenseForm label{
    display: flex;
    justify-content: space-between;
}