:root {
  --primary-blue: rgb(71, 137, 195);

  --secundary-white: whitesmoke;
}

.calc-page {
  padding: 30px;
  height: 100%;
  background-color: var(--primary-blue);
  color: white;
}

.calc-page h3 {
  padding: 20px 0;
}

.calc-page .select-mode {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}

.select-mode li {
  padding: 10px;
  text-align: center;
  border: 1px solid white;
}

.select-mode li:hover {
  cursor: pointer;
}

.select-mode .active {
  background-color: white;
  color: var(--primary-blue);
}

.calc-container {
  padding: 8px;
  background-color: white;
  color: var(--primary-blue);
  border-radius: 10px;
}

.calc-container h4 {
  padding: 10px;
  margin-bottom: 15px;
}

.calc-container form {
  padding: 10px;
  margin: 20px 0;
  max-width: 500px;
}

.calc-container ul {
  padding: 10px;
}

.calc-container form label {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calc-container form label:last-child {
  align-items: flex-start;
}

.calc-container form input {
  height: 30px;
  width: 60%;
}

.calc-container form textarea {
  height: 80px;
  width: 65%;
}

.calc-container p,
.calc-container .controls {
  background-color: var(--primary-blue);
  color: white;
  padding: 10px;
}

.calc-container .controls button {
  width: 80px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: var(--primary-blue);
  margin: 0 10px;
}

.calc-container button:hover {
  cursor: pointer;
}
