.navigation-menu {
  background-color: white;
  box-shadow: 0px 0px 15px black;
  z-index: 10;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
}

.navigation-menu > div {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative;
}

header a {
  color: var(--primary-blue);
}

.inactive {
  transform: scale(0);
  transform-origin: top right;
}

.active {
  transform: scale(auto);
  transform-origin: top right;
  transition: transform 0.2s ease;
}

.hamburguer > .fa-bars {
  font-size: 20px;
  color: var(--primary-blue);
}

.menu-list {
  position: absolute;
  right: 0;
  left: 0;
  top: 78px;
  border-radius: 5px;
  overflow: hidden;
  padding: 20px;
  background-color: var(--primary-blue);
  border: 1.5px solid white;
}

.menu-list a,
.menu-list li {
  width: 100%;
  color: white;
}

.menu-list a {
  display: block;
}

.menu-list li:hover {
  cursor: pointer;
}

.menu-list li {
  padding: 14px 24px;
}
