:root {
  --primary-blue: #298dc7;
  --secondary-blue:#122243 ;
  --primary-grey: #444444;
  --secondary-grey: #d9dcdf;
  --secundary-white: whitesmoke;
  --primary-red: #dc3545;
  --primary-green: #198754;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');


.color2 {
  color: #154f94;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 52px auto;
  grid-template-columns: 100%;
}

button:hover{
cursor: pointer;
}

.home-page {
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: whitesmoke;
  padding: 30px 0;
}

.home-page h2 {
  font-size: 2rem;
  color: var(--primary-blue);
}

.home-page_header {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.home-page > section {
  padding: 10px 15px;
}

.home-page > section:nth-child(2n) {
  background-color: var(--primary-blue);
}
.home-page > section:nth-child(2n) h2,
.home-page > section:nth-child(2n) h3,
.home-page > section:nth-child(2n) p {
  color: white;
}

.home-page > section:nth-child(2n) li {
  list-style-type: "\1F44D";
  margin-left: 20px;
}

.bg-blue {
  background-color: var(--primary-blue);
  color: var(--secundary-white);
}

/* -----------------LOGIN ----------------------------*/

.register {
  height: 100%;
  padding: 4px;
  background-color: whitesmoke;
}

.register > h2 {
  padding: 50px 0;
  text-align: center;
  color: var(--primary-blue);
}

.register-form > fieldset {
  background-color: var(--primary-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 10px;
  padding: 30px 18px;
  font-size: 1.2rem;
}

.register-form > fieldset > input {
  padding: 6px;
  width: 96%;
  max-width: 400px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.button-container {
  display: flex;
}

.register-form .button {
  text-align: center;
  background-color: white;
  color: var(--primary-blue);
  padding: 6px;
  width: 135px;
  margin: 16px 8px;
  border-radius: 10px;
  font-size: 1.2rem;
  border-style: none;
}

.register-form .active-button {
  background-color: rgb(236, 55, 100);
  color: white;
}
